<div class="col-md-4 offset-md-4 mt-4">
    <app-alerta></app-alerta>
    <mat-card style="padding: 30px 25px 20px 25px;">
        <mat-card-header>
            <mat-panel-title>
                <h1 class="h3 mb-3 font-weight-normal">Registro de Paciente</h1>
            </mat-panel-title>
        </mat-card-header>

        <form [formGroup]="formPaciente" novalidate=""
            (ngSubmit)="editar== true? actualizarPaciente() : registrarPaciente()">
            <mat-card-content>

                <mat-form-field [hideRequiredMarker]="false" [floatLabel]="auto" class="form-group has-success w-100">
                    <input matInput type="text" formControlName="nombre" placeholder="Nombre" class="form-control"
                        [ngClass]="{'is-invalid': !formPaciente.get('nombre').valid && submitted.nombre, 'is-valid': formPaciente.get('nombre').valid && submitted.nombre}">
                    <div class="valid-feedback">Correcto!</div>
                </mat-form-field>

                <mat-form-field [hideRequiredMarker]="false" [floatLabel]="auto" class="form-group has-success w-100">
                    <input matInput name="apellidos" formControlName="apellidos" placeholder="Apellidos"
                        class="form-control"
                        [ngClass]="{'is-invalid': !formPaciente.get('apellidos').valid && submitted.apellidos, 'is-valid': formPaciente.get('apellidos').valid && submitted.apellidos}">
                    <div class="valid-feedback">Correcto!</div>
                </mat-form-field>


                <mat-form-field class="form-group has-success w-100">
                    <input matInput type="text" name="carnet" formControlName="carnet" placeholder="Carnet de Identidad"
                        class="form-control"
                        [ngClass]="{'is-invalid': !formPaciente.get('carnet').valid && submitted.carnet, 'is-valid': formPaciente.get('carnet').valid && submitted.carnet}">
                    <div class="valid-feedback">Correcto!</div>
                </mat-form-field>

                <mat-form-field class="form-group has-success w-100">
                        <mat-label>Seleccione un Sexo</mat-label>
                        <mat-select formControlName="sexo" class="form-control"
                            [ngClass]="{'is-invalid': !formPaciente.get('sexo').valid && submitted.sexo, 'is-valid': formPaciente.get('sexo').valid && submitted.sexo}">
                            <!-- <mat-option>Limpiar</mat-option> -->
                            <mat-option value="0">Masculino</mat-option>
                            <mat-option value="1">Femenino</mat-option>-
                            <mat-option value="2">Indefinido</mat-option>
                        </mat-select>
                    </mat-form-field>


                <mat-form-field class="form-group has-success w-100">
                    <input matInput [min]="minDate" [max]="maxDate" [matDatepickerFilter]="myFilter"
                        formControlName="fechaNacimiento" [matDatepicker]="picker" placeholder="Choose a date"
                        [ngClass]="{'is-invalid': !formPaciente.get('fechaNacimiento').valid && submitted.fechaNacimiento, 'is-valid': formPaciente.get('fechaNacimiento').valid && submitted.fechaNacimiento}">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker></mat-datepicker>
                </mat-form-field>

                <!-- <div class="form-group has-success">
                        <input type="date"  name="fechaNacimiento" formControlName="fechaNacimiento" placeholder="fechaNacimiento"  [min]="minDate" [max]="maxDate" class="form-control" [ngClass]="{'is-invalid': !formPaciente.get('fechaNacimiento').valid && submitted.fechaNacimiento, 'is-valid': formPaciente.get('fechaNacimiento').valid && submitted.fechaNacimiento}">
                        <div class="valid-feedback">Correcto!</div>
                    </div> -->



                <mat-form-field class="form-group has-success w-100" *ngIf="admin">
                        <mat-label>Seleccione un medico</mat-label>
                        <mat-select formControlName="idMedico" class="form-control"
                            [ngClass]="{'is-invalid': !formPaciente.get('idMedico').valid && submitted.idMedico, 'is-valid': formPaciente.get('idMedico').valid && submitted.idMedico}">
                            <mat-option>Limpiar</mat-option>
                            <mat-option  *ngFor="let cuenta of cuentas" value={{cuenta.id}}>Dr. {{cuenta.apellidos}} {{cuenta.nombre}}</mat-option>
                        </mat-select>
                    </mat-form-field>

            </mat-card-content>

            <mat-card-actions>
                <button class="btn btn-success float-right" type="submit">
                    Registrar
                </button>

                <button class="btn btn-warning" (click)="atras()">
                    Regresar
                </button>
            </mat-card-actions>

        </form>
    </mat-card>
</div>