<div class="col-md-4 offset-md-4 mt-4">
    <div class="card">
        <div class="card-body">
            <form>
                <h1 class="h3 mb-3 font-weight-normal">Registro de Médico</h1>
                <div class="form-group has-success">
                    <input type="text" name="nombre" [(ngModel)]="cuenta.nombre" placeholder="Nombre" class="form-control" autofocus> <!-- class: is-invalid -->
                    <div class="valid-feedback">Correcto!</div> <!-- class: is-valid -->
                </div>
                <div class="form-group has-success">
                    <input type="text" name="apellidos" [(ngModel)]="cuenta.apellidos" placeholder="Apellidos" class="form-control">
                    <div class="valid-feedback">Correcto!</div>
                </div>
                <div class="form-group has-success">
                    <input type="text" name="carnet" [(ngModel)]="cuenta.carnet" placeholder="Carnet de Identidad" class="form-control">
                    <div class="valid-feedback">Correcto!</div>
                </div>
                <h3>Cuenta:</h3>
                <div class="form-group has-success">
                    <!-- <label class="form-control-label" for="usuario">Usuario:</label> -->
                    <input type="text"  id="usuario" name="usuario" [(ngModel)]="cuenta.usuario" placeholder="Usuario" class="form-control">
                    <div class="valid-feedback">Correcto!</div>
                </div>
                <div class="form-group has-success">
                    <input type="password" name="password" [(ngModel)]="cuenta.password" placeholder="Password" class="form-control">                    
                </div>
                <div class="form-group has-success">
                    <input type="password" name="passwordR" [(ngModel)]="passwordR" placeholder="Repita el Password" class="form-control">                    
                </div>
                <button class="btn btn-success btn-block" (click)="editar== true? actualizarCuenta() : registrarCuenta()">
                    Registrar
                </button>
            </form>
        </div>
    </div>
</div>
